<nav class="sidebar" data-viewmodel="index/SidebarVM" data-bind="touchDrag: position, minValue:-160, maxValue:0">
  <ul class="nav nav-tabs nav-stacked">
    <li <%- data.active('index', file) %>><a href="#index">Advent Calendar</a></li>
    <li <%- data.active('01', file) %>><a href="#01">December 1st</a></li>
    <li <%- data.active('02', file) %>><a href="#02">December 2nd</a></li>
    <li <%- data.active('03', file) %>><a href="#03">December 3rd</a></li>
    <li <%- data.active('04', file) %>><a href="#04">December 4th</a></li>
    <li <%- data.active('05', file) %>><a href="#05">December 5th</a></li>
    <li <%- data.active('06', file) %>><a href="#06">December 6th</a></li>
    <li <%- data.active('07', file) %>><a href="#07">December 7th</a></li>
    <li <%- data.active('08', file) %>><a href="#08">December 8th</a></li>
    <li <%- data.active('09', file) %>><a href="#09">December 9th</a></li>
    <li <%- data.active('10', file) %>><a href="#10">December 10th</a></li>
    <li <%- data.active('11', file) %>><a href="#11">December 11th</a></li>
    <li <%- data.active('12', file) %>><a href="#12">December 12th</a></li>
  </ul>
</nav>
<div class="main-content">
  <article class="container">
      <%- contents %>
  </article>
</div>