<nav class="sidebar" data-viewmodel="index/SidebarVM" data-bind="touchDrag: position, minValue:-160, maxValue:0">
  <ul class="nav nav-tabs nav-stacked">
    <li <%- data.active('index', file) %>><a href="#index">Advent Calendar</a></li>
    <li <%- data.active('01', file) %>><a href="#01">Desember 1st</a></li>
    <li <%- data.active('02', file) %>><a href="#02">Desember 2nd</a></li>
    <li <%- data.active('03', file) %>><a href="#03">Desember 3rd</a></li>
    <li <%- data.active('04', file) %>><a href="#04">Desember 4th</a></li>
    <li <%- data.active('05', file) %>><a href="#05">Desember 5th</a></li>
    <li <%- data.active('06', file) %>><a href="#06">Desember 6th</a></li>
  </ul>
</nav>
<div class="main-content">
  <article class="container">
      <%- contents %>
  </article>
</div>