<nav class="sidebar" data-viewmodel="index/SidebarVM" data-bind="touchDrag: position, minValue:-160, maxValue:0">
  <ul class="nav nav-tabs nav-stacked">
    <li <%- data.active('index', file) %>><a href="#!/philosophy/index">Philosophy</a></li>
    <li <%- data.active('htmlFirst', file) %>><a href="#!/philosophy/htmlFirst">HTML-First</a></li>
    <li <%- data.active('twoWayBinding', file) %>><a href="#!/philosophy/twoWayBinding">Two-way Binding</a></li>
    <li <%- data.active('longLivingPages', file) %>><a href="#!/philosophy/longLivingPages">Long Living Pages</a></li>
    <li <%- data.active('multiPageApp', file) %>><a href="#!/philosophy/multiPageApp">Multi-page Application</a></li>
  </ul>
</nav>
<div class="main-content">
  <article class="container">
      <%- contents %>
  </article>
</div>